* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/imgs/space.jpg);
    background-color: rgb(2, 2, 68);
}

main {
    display: flex;
    justify-content: space-around;
    gap: 2vh;
}

header {
    font-family: 'Titan One', cursive;
    font-size: 70px;
    color: rgb(231, 227, 227);
    margin-bottom: 5vh;
    text-shadow: 4px 4px rgb(98, 96, 96);
}

aside {
    height: 65vh;
    width: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 3px grey solid;
    border-radius: 15px;
    background-color: rgb(219, 225, 233);
}

img {
    margin-top: 6vh;
    height: 40vh;
    width: 45vh;
    border-radius: 15px;
    background-color: white;
}

button {
    padding: 2vmin;
    font-size: 2.5vmin;
    border-radius: 1vmin;
    border: 0.1vmin solid grey;
    color: rgb(69, 65, 65);
    box-shadow: 3px 3px grey;
}

.gameboard {
    height: 65vh;
    width: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px grey solid;
    border-radius: 15px;
    background-color: rgb(219, 225, 233);
}

.letter {
    text-align: center;
    font-size: 35px;
}

#letter-spaces {
    width: 45vh;
    height: 8vh;
    align-items: center;
    margin: auto;
    border: 3px grey solid;
    border-radius: 15px;
    background-color: white;
    text-align: center;
    font-size: 5vmin;
    padding-top: 9px;
}

#message, #guesses {
    font-size: 2.5vmin;
    text-align: center;
    padding: 0 2vmin;
}