* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(2, 2, 68);
}

main {
    display: flex;
    justify-content: space-around;
    gap: 1vh;
}

header {
    font-family: 'Titan One', cursive;
    font-size: 65px;
    color: rgb(231, 227, 227);
    margin-bottom: 5vh;
}

aside {
    height: 70vh;
    width: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 3px grey solid;
    border-radius: 15px;
    background-color: rgb(219, 225, 233);
}

img {
    margin-top: 10vh;
    height: 30vh;
    width: 50vh;
    background-color: rgb(255, 255, 255);
}

button {
    padding: 1.5vmin;
    font-size: 2vmin;
    border-radius: 1vmin;
    border: 0.1vmin solid grey;
    color: rgb(69, 65, 65);
}

.gameboard {
    height: 70vh;
    width: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px grey solid;
    border-radius: 15px;
    background-color: rgb(219, 225, 233);
}

.letter {
    text-align: center;
    font-size: 35px;
}

#letter-spaces {
    width: 50vh;
    height: 8vh;
    align-items: center;
    margin: auto;
    border: 3px grey solid;
    border-radius: 15px;
    background-color: white;
    text-align: center;
    font-size: 5vmin;
    padding-top: 9px;
}

#message, #guesses {
    font-size: 2vmin;
}