* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    font-size: 35px;
    margin-bottom: 5vh;
}

button {
    padding: 1.5vmin;
    font-size: 2vmin;
    border-radius: 1vmin;
    border: 0.1vmin solid grey;
    color: rgb(69, 65, 65);
}

.main {
    display: flex;
    justify-content: space-around;
    gap: 1vh;
}

.letter {
    text-align: center;
    font-size: 30px;
}

.side-panel {
    height: 70vh;
    width: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 3px grey solid;
    background-color: rgb(219, 225, 233);
}

.gameboard {
    height: 70vh;
    width: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px grey solid;
    background-color: rgb(219, 225, 233);
}

#letter-spaces {
    width: 50vh;
    height: 8vh;
    align-items: center;
    margin: auto;
    border: 3px grey solid;
    background-color: white;
    text-align: center;
    font-size: 30px;
    padding-top: 12px;
}

#image {
    margin-top: 10vh;
    height: 30vh;
    width: 50vh;
    background-color: white;
}
